.diceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    align-items: center;
}

.diceContainer img {
    cursor: pointer;
    height: 250px;
    width: 250px;
    border-radius: 30px;
}

.diceContainer img:hover {
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}


.diceContainer p {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 800;
}