.num_selector {
    height: 72px;
    width: 72px;
    border: 1px solid white;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.selected {
    background-color: black;
    color: white;
}

.selected {
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.numSelector {
    display: flex;
    gap: 24px;
}

.numSelectorDiv {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.numSelectorDiv p {
    font: 24px;
    font-weight: 700;
}

.error {
    font-size: 24px;
    color: red;
    font-weight: 500;
    text-align: right;
}